DATABRICKS_HOST=https://...
MLFLOW_EXPERIMENT_ID=your_mlflow_experiment_id
MLFLOW_TRACING_SQL_WAREHOUSE_ID=your_mlflow_tracing_warehouse_id
# DATABRICKS_SERVING_ENDPOINT_NAME=your_agents_serving_endpoint_name
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=appkit-agents
FLASK_RUN_HOST=0.0.0.0
