DATABRICKS_HOST=https://...
MLFLOW_EXPERIMENT_ID=your_mlflow_experiment_id
MLFLOW_TRACING_SQL_WAREHOUSE_ID=your_mlflow_tracing_warehouse_id
# DATABRICKS_SERVING_ENDPOINT_NAME=your_agents_serving_endpoint_name
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
DATABRICKS_VOLUME_FILES=your_files_path
DATABRICKS_GENIE_SPACE_ID=your_genie_space_id
PGDATABASE=your_postgres_databaseName
LAKEBASE_ENDPOINT=your_postgres_endpointPath
PGHOST=your_postgres_host
PGPORT=5432
PGSSLMODE=require
DATABRICKS_SERVING_ENDPOINT_NAME=your_serving_endpoint_name
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=appkit-all-in-one
FLASK_RUN_HOST=0.0.0.0
